# Steps

In [ ]:
### read in all csvs
### combine all csvs
### grab the needed columns only
### reshape date into desirable format
### reshape time into desirable format
### output a new csv file

In [1]:
import pandas as pd

In [2]:
year1=pd.read_csv('HistoricalWeather2017.csv',low_memory=False)
year1.shape

(169440, 20)

In [8]:

# read csv file
years = [2017,2018,2019,2020,2021,2022]
resultMain = pd.DataFrame()
resultMakeup = pd.DataFrame()
result = pd.DataFrame()

# Read in main data
for year in years:
    tmpMain = pd.read_csv(f'HistoricalWeather{year}.csv',low_memory=False)
    resultMain=pd.concat([resultMain,tmpMain],ignore_index=True)
    
# Read in old data
for year in years:
    tmp = pd.read_csv(f'HistoricalWeathermakeup{year}.csv',low_memory=False)
    resultMakeup=pd.concat([resultMakeup,tmp],ignore_index=True)

    
result=pd.concat([resultMain,resultMakeup],ignore_index=True)

In [9]:
result.shape

(978240, 20)

In [10]:
result

,Unnamed: 0,ObsTime,StnPres,SeaPres,Temperature,Td dew point,RH,WS,WD,WSGust,WDGust,Precp,PrecpHour,SunShine,GloblRad,Visb,UVI,Cloud Amount,StationID,Date
0,0,1,929.0,1574.7,13.5,12.9,96,4.3,150,11.8,150,T,1.0,...,0.00,...,0,...,466910,2017/01/01
1,1,2,928.6,1571.1,13.4,12.6,95,3.5,170,10.8,120,T,1.0,...,0.00,...,0,...,466910,2017/01/01
2,2,3,928.3,1568.5,13.6,12.6,94,4.3,160,11.9,130,0.1,1.0,...,0.00,...,0,...,466910,2017/01/01
3,3,4,928.0,1565.7,13.7,12.8,94,5.1,160,12.6,160,T,0.5,...,0.00,...,0,...,466910,2017/01/01
4,4,5,928.3,1568.1,13.8,12.9,94,4.0,150,12.6,140,0.0,0.0,...,0.00,12.0,0,6.0,466910,2017/01/01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978235,3355,20,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,C1A730,2022/07/31
978236,3356,21,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,C1A730,2022/07/31
978237,3357,22,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,C1A730,2022/07/31
978238,3358,23,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,C1A730,2022/07/31
978239,3359,24,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,C1A730,2022/07/31

In [11]:
# 只選需要的資料欄
FinalDF = result[['Date','ObsTime','StationID','Temperature','RH','WS','Precp','UVI']]
FinalDF

              Date  ObsTime StationID Temperature   RH   WS Precp  UVI
0       2017/01/01        1    466910        13.5   96  4.3     T    0
1       2017/01/01        2    466910        13.4   95  3.5     T    0
2       2017/01/01        3    466910        13.6   94  4.3   0.1    0
3       2017/01/01        4    466910        13.7   94  5.1     T    0
4       2017/01/01        5    466910        13.8   94  4.0   0.0    0
...            ...      ...       ...         ...  ...  ...   ...  ...
978235  2022/07/31       20    C1A730         ...  ...  ...   ...  ...
978236  2022/07/31       21    C1A730         ...  ...  ...   ...  ...
978237  2022/07/31       22    C1A730         ...  ...  ...   ...  ...
978238  2022/07/31       23    C1A730         ...  ...  ...   ...  ...
978239  2022/07/31       24    C1A730         ...  ...  ...   ...  ...

[978240 rows x 8 columns]

In [12]:
FinalDF

              Date  ObsTime StationID Temperature   RH   WS Precp  UVI
0       2017/01/01        1    466910        13.5   96  4.3     T    0
1       2017/01/01        2    466910        13.4   95  3.5     T    0
2       2017/01/01        3    466910        13.6   94  4.3   0.1    0
3       2017/01/01        4    466910        13.7   94  5.1     T    0
4       2017/01/01        5    466910        13.8   94  4.0   0.0    0
...            ...      ...       ...         ...  ...  ...   ...  ...
978235  2022/07/31       20    C1A730         ...  ...  ...   ...  ...
978236  2022/07/31       21    C1A730         ...  ...  ...   ...  ...
978237  2022/07/31       22    C1A730         ...  ...  ...   ...  ...
978238  2022/07/31       23    C1A730         ...  ...  ...   ...  ...
978239  2022/07/31       24    C1A730         ...  ...  ...   ...  ...

[978240 rows x 8 columns]

In [ ]:
# # clean date

# import datetime
# targetDate = datetime.datetime(year, month, days+1)
# targetDatef=targetDate.strftime("%Y-%m-%d")
# targetDateSlash=targetDate.strftime("%Y/%m/%d")

In [ ]:
# #merging
# temp = pd.DataFrame(np.array(HistoricalDataClean).reshape(-1,17),columns=EnglishTitle)
# temp.insert(0,"Date",targetDateSlash, True)
# temp.insert(0,"StationID",stationNum, True)
# result=pd.concat([result,temp],ignore_index=True)

# result.insert(0,"Date", True)
# result

In [13]:
# could have been done without for loop in hindsight
import datetime
ReformattedDateList=[]
datelooper=result['Date']
dateList=[]
for x in range(len(result['Date'])):
    dateList.append(datetime.datetime.strptime(datelooper[x], '%Y/%m/%d').strftime('%Y-%m-%d'))
    
    
    
#FinalDF.insert(0,"NewDate", keka)

In [15]:
# Mistake made here, made all 24 = 0 without adding one more day

timeHour=result['ObsTime']
TimeList=[]
for x in range(len(result['ObsTime'])):
    tempTime=str(timeHour[x]) if str(timeHour[x]) != '24' else '0'
    tempTime
    TimeList.append(datetime.datetime.strptime(tempTime, '%H').strftime('%X'))

In [17]:
# append to FinalDF

FinalDF.insert(0,"NewHour",TimeList, True)
FinalDF.insert(0,"NewDate",dateList, True)
#result=pd.concat([result,temp],ignore_index=True)

FinalDF
# append dateList
# append

,NewDate,NewHour,Date,ObsTime,StationID,Temperature,RH,WS,Precp,UVI
0,2017-01-01,01:00:00,2017/01/01,1,466910,13.5,96,4.3,T,0
1,2017-01-01,02:00:00,2017/01/01,2,466910,13.4,95,3.5,T,0
2,2017-01-01,03:00:00,2017/01/01,3,466910,13.6,94,4.3,0.1,0
3,2017-01-01,04:00:00,2017/01/01,4,466910,13.7,94,5.1,T,0
4,2017-01-01,05:00:00,2017/01/01,5,466910,13.8,94,4.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...
978235,2022-07-31,20:00:00,2022/07/31,20,C1A730,...,...,...,...,...
978236,2022-07-31,21:00:00,2022/07/31,21,C1A730,...,...,...,...,...
978237,2022-07-31,22:00:00,2022/07/31,22,C1A730,...,...,...,...,...
978238,2022-07-31,23:00:00,2022/07/31,23,C1A730,...,...,...,...,...
978239,2022-07-31,00:00:00,2022/07/31,24,C1A730,...,...,...,...,...

In [ ]:
# Output data to Byran 

file_name = "HistoricalWeather2017-2022.csv"

FinalDF.to_csv(file_name, sep=',', encoding='utf-8')